{% extends 'base_query.html' %}
{% block sum_cost_form %}
<div class="b_class">
    <h2 align="center">Введите интересующий год</h2>
</div>
    <div class="p-4 m-0 border-0 bd-example" style="width: 40%;">
        <form method="post" action="">
                <div class="form-floating mb-3">
                    <input name="input_year" class="form-control auth_input" id="departure" type="text" placeholder="input_year">
                    <label for="departure">Year</label>
                </div>
                <div align="center" style="margin-top:13%">
                    <input type="submit" class="btn btn-dark btn-lg" value="Отправить">
                </div>
            </form>
        <br><br>
        <a text_aling ="center" href="{{ url_for('bp_query.menu_query') }}"> Нажмите для возврата в меню </a><br><br>
        <br><br>
        <h2 align="center">{{ error_message }}</h2>
    </div>

{% endblock %}

